USE [master]
GO
/****** Object:  Database [ASP.NET_MVC_CRUD_WITHOUT_ENTITY_FRAMEWORK_DB]    Script Date: 27/06/2020 12:33:53 PM ******/
CREATE DATABASE [ASP.NET_MVC_CRUD_WITHOUT_ENTITY_FRAMEWORK_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIMPLE_CRUD_USING_DATA_TABLE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SIMPLE_CRUD_USING_DATA_TABLE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIMPLE_CRUD_USING_DATA_TABLE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SIMPLE_CRUD_USING_DATA_TABLE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASP.NET_MVC_CRUD_WITHOUT_ENTITY_FRAMEWORK_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASP.NET_MVC_CRUD_WITHOUT_ENTITY_FRAMEWORK_DB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 27/06/2020 12:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Count]) VALUES (10, N'Keyboard', CAST(100.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Count]) VALUES (11, N'Mouse', CAST(200.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
